@import '/src/scss/mixin';
@import '/src/scss/variables';

.c-home-wrapper {
  padding-top: 2rem;

  .c-top-part {
    @include flexDisplay(space-between, flex-start);
    flex-direction: row;
    padding: 0 12rem;
    gap: 2rem;
    background-color: $lightGreyColor;

    .c-categories {
      font-family: $latoFont;

      .c-category-heading {
        font-weight: $fontBold;
        font-size: $textBase;
        line-height: $lineHeightBase;
        color: $blueColor;
        padding: 16px;
      }
    }

    .c-main-product {
      @include flexDisplay(flex-end, flex-start);
      font-family: $latoFont;
      gap: 5rem;
      width: 100%;

      .c-info {
        width: 450px;

        h1 {
          font-weight: $fontNormal;
          line-height: $lineHeight5xl;
          letter-spacing: $letterSpacing;
          color: $darkBlackColor;
        }

        .c-price {
          color: $blueColor;
        }

        p {
          font-style: normal;
          font-weight: $fontNormal;
          font-size: $textBase;
          line-height: $lineHeightBase;
          color: $greyColor;
        }

        a {
          text-decoration: none;
        }

        button {
          @include flexDisplay(space-around, center);
          margin-top: 4rem;
          background-color: transparent;
          padding: 1rem 3rem;
          width: 15rem;
          border: 2px solid $blueColor;
          font-weight: $fontBold;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.63px;
          color: $blackColor;
          text-transform: uppercase;

          &:hover {
            cursor: pointer;
            background-color: $blueColor;
          }
        }
      }

      img {
        width: 357px;
        height: 420px;
      }
    }
  }

  .c-bottom-part {
    margin-top: 5rem;
    padding: 0 12rem;

    .c-navbar {
      border-bottom: 2px solid $greyColor;
      justify-content: flex-start;
      padding: 0;
      gap: 2rem;

      .c-navbar-item {
        font-weight: $fontBold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: $letterSpacing;
        color: $darkBlackColor;
        margin: 0;
        padding-bottom: 16px;
        position: relative;
        top: 2px;
      }

      .c-focus {
        border-bottom: 2px solid $blueColor;
      }
      p:hover {
        cursor: pointer;
      }
    }
  }
}
