@import '/src/scss/mixin';
@import '/src/scss/variables';

.c-item {
  a {
    text-decoration: none;
  }

  img {
    object-fit: cover;
    min-width: 372px;
    max-width: 362px;
    min-height: 362px;
    max-height: 362px;
  }

  h3 {
    color: $blackColor;
  }

  p {
    font-weight: 500;
    font-size: $textBase;
    line-height: 19px;
    letter-spacing: $letterSpacing;
    color: $greyColor;

    span {
      color: $purpleColor;
    }
  }
}
