@import '/src/scss/mixin';
@import '/src/scss/variables';

.c-my-account-wrapper {
  @include flexDisplay(space-between, flex-start);
  flex-direction: column;
  padding: 1rem 12rem 0;
  font-family: $latoFont;

  .c-my-account-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;

    .c-navbar-element {
      @include flexDisplay(space-between, center);
      width: 5rem;
      height: 1.5rem;
      padding: 16px 24px;
      color: black;
      font-size: 1rem;
      
      :hover{
        cursor: pointer;
      }
    }

    .c-navbar-element-focused {
      background-color: $purpleColor;
      color: white;
    }
  }
}

.c-icon-style{
  font-size: 1.3rem;
}
