@import '/src/sassStyles/variables';
@import '/src/sassStyles/mixin';

.c-empty-div {
  display: none;
}

.c-navbar-tracker {
  height: 60px;
  @include flexDisplay(space-between, center);
  padding: 0 12rem;
  background-color: $navbarTrackerWhiteColor;
  font-family: $fontFamily;

  .c-current-page {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $blackColor;
  }

  .c-page-path {
    @include flexDisplay(center, center);

    .c-path-item {
      padding-left: 1rem;
      @include flexDisplay(flex-start, center);
      gap: 1rem;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $greyColor;
    }

    .c-last-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: $purpleColor;
    }
  }
}
