.c-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12rem;
  background-color: var(--white-color);
  font-family: var(--font-family);
}

.c-app-logo {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 25%;
}

.c-search-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  height: 58px;
  border: 1px solid var(--grey-color);
  width: 55%;
}

.c-search-field input {
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.63px;
  color: var(--black-color);
  width: 60%;
}

.c-search-field input::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--grey-color);
}

.c-search-field span {
  cursor: pointer;
}

.c-search-input-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.c-navbar-options {
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
}

.c-navbar-options a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.c-navbar-options a:focus {
  font-weight: 700;
  color: var(--purple-color);
}
