@mixin flexDisplay($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin footerTitle() {
  font-weight: $highFontWeight;
  font-size: $fontSize;
  line-height: $paragraphLineHeight;
  color: $whiteColor;
  opacity: 0.5;
}

@mixin notificationBar($backgroundColor, $color){
  @include flexDisplay(column, flex-start);
  padding: 20px 160px;
  gap: 10px;
  height: 59px;
  background: $backgroundColor;

  p {
    font-family: $fontFamily;
    font-weight: $highFontWeight;
    font-size: $fontSize;
    line-height: 19px;
    color: $color;
  }
}