//colors
$darkBlackColor: #000000;
$blackColor: #252525;
$greyColor: #9b9b9b;
$whiteColor: #ffffff;
$purpleColor: #8367d8;
$smokeWhiteColor: #d8d8d8;
$navbarTrackerWhiteColor: #fcfcfc;

//fonts and text
$fontFamily: 'Lato', sans-serif;
$fontSize: 16px;
$paragraphLineHeight: 24px;
$headingLineHeight: 51px;
$letterSpacing: 0.84px;
$mediumFontWeight: 400;
$highFontWeight: 700;
