@import '/src/scss/variables';
@import '/src/scss/mixin';

.c-header {
  @include flexDisplay(space-between, center);
  background-color: $blackColor;
  padding: 0.5rem 12rem;

  .c-header-icons {
    a {
      padding: 0 0.5rem;
    }
  }

  .c-header-message {
    @include flexDisplay(center, center);
    color: $whiteColor;
    font-family: $latoFont;
    font-size: 14px;
    font-weight: $fontBold;
    line-height: 17px;

    div {
      min-width: 14rem;
      @include flexDisplay(space-between, center);

      button {
        background-color: transparent;
        border: none;
        outline: none;
        color: $blueColor;
        font-family: $latoFont;
        font-weight: $fontBold;
      }

      button:hover {
        cursor: pointer;
      }
    }

    p {
      color: $whiteColor;
      margin: 0;
    }

    span {
      padding: 0 1rem;
      color: $greyColor;
    }

    a {
      text-decoration: none;
      color: $whiteColor;
    }

    .c-header-link-item:hover {
      cursor: pointer;
    }
  }
}
