.c-header {
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 12rem;
}

.c-header-icons a {
  padding: 0 0.5rem;
}

.c-header-message {
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-family: var(--font-family);
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.c-header-message p {
  color: var(--white-color);
  padding: 0;
}

.c-header-message span {
  padding: 0 1rem;
  color: var(--grey-color);
}

.c-header-message a {
  text-decoration: none;
  color: var(--white-color);
}

.c-login-or-register:hover {
  cursor: pointer;
}
