@import '/src/scss/variables';
@import '/src/scss/mixin';

.c-price-filters-wrapper {
  border: 2px solid $smokeWhiteColor;
  min-width: 300px;
  padding: 0.5rem 1rem;

  h4 {
    color: $blueColor;
  }

  .c-input-fields {
    @include flexDisplay(space-between, center);
    max-width: 240px;

    .c-input-field {
      max-width: 60px;
    }

    span {
      margin-top: 1rem;
      margin-left: 3.5rem;
      font-size: 32px;
      color: $greyColor;
    }
  }
}

@media only screen and (max-width: 1850px) {
  .c-price-filters-wrapper {
    min-width: 240px;

    .c-input-fields {
      max-width: 180px;

      .c-input-field {
        max-width: 40px;
      }
    }
  }
}
