@import '/src/scss/variables';
@import '/src/scss/mixin';

.c-price-filters-wrapper {
  border: 2px solid $smokeWhiteColor;
  min-width: 300px;
  padding: 0.5rem 1rem;

  h4 {
    color: $purpleColor;
  }

  .c-input-fields {
    @include flexDisplay(space-between, center);
    min-width: 240px;

    .c-input-field {
      min-width: 60px;
    }

    span {
      margin-top: 1rem;
      margin-left: 3.5rem;
      font-size: 32px;
      color: $greyColor;
    }
  }
}
