@import '/src/scss/variables';

.c-privacy-and-policy {
  padding: 0 40rem;
  font-family: $fontFamily;
  font-weight: $mediumFontWeight;

  .c-content {
    width: 100%;

    h1 {
      line-height: $headingLineHeight;
      letter-spacing: $letterSpacing;
      color: $blackColor;
    }

    p {
      padding-top: 1rem;
      font-size: $fontSize;
      line-height: $paragraphLineHeight;
      color: $greyColor;
    }
  }
}
