.privacyAndPolicy {
  padding: 0 35%;
  font-family: var(--font-family);
  font-weight: 400;
}
h1{
    line-height: 51px;
    letter-spacing: 0.84px;
    color: var(--black-color)
}
p{
    padding-top: 1rem;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-color);
}
