@import '/src/scss/mixin';
@import '/src/scss/variables';

.c-item-form-wrapper {
  @include flexDisplay(center, center);
  flex-direction: column;
  padding: 1rem 12rem 0;
  font-family: $latoFont;
  border: 1px solid $smokeWhiteColor;

  .c-item-form-part {
    width: 500px;
    
    .c-select-category {
      @include flexDisplay(space-between, flex-start);
      gap: 22px;
    }
  }
}
