@import '/src/scss/mixin';
@import '/src/scss/variables';

.c-item-form-wrapper {
  @include flexDisplay(center, center);
  flex-direction: column;
  padding: 1rem 12rem 0;
  font-family: $latoFont;
  border: 1px solid $smokeWhiteColor;

  h3 {
    text-align: center;
  }

  .c-item-form-part {
    width: 500px;

    .c-select-category {
      @include flexDisplay(space-between, flex-start);
      gap: 22px;
    }
  }

  .c-option-buttons {
    @include flexDisplay(space-between, center);
    margin: 2rem 0;
    width: 500px;

    button {
      width: 240px;
    }

    .c-cancel-button {
      border: 2px solid $smokeWhiteColor;

      &:hover {
        scale: 1.02;
      }
    }

    .c-next-button {
      background-color: $purpleColor;
      color: $whiteColor;
      border: none;

      &:hover {
        scale: 1.02;
      }
    }
  }
}
