@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --dark-black-color: #000000;
  --black-color: #252525;
  --grey-color: #9b9b9b;
  --white-color: #ffffff;
  --purple-color: #8367d8;
  --smoke-white-color: #d8d8d8;
  --font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
}
