@import '/src/scss/variables';

.c-terms-and-conditions {
  padding: 0 40rem;
  font-family: $latoFont;
  font-weight: $fontNormal h1 {
    font-size: 32px;
    line-height: $lineHeight5xl;
    letter-spacing: $letterSpacing;
    color: $blackColor;
  }

  p {
    font-size: $textBase;
    line-height: $lineHeightBase;
    color: $greyColor;
  }

  h3 {
    padding-top: 1rem;
  }
}
