.c-terms-and-conditions {
  padding: 0 40rem;
  font-family: var(--font-family);
  font-weight: 400;
}

h1 {
  font-size: 32px;
  line-height: 51px;
  letter-spacing: 0.84px;
  color: var(--black-color);
}

p {
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-color);
}

h3 {
  padding-top: 1rem;
}
