@import '/src/scss/variables';
@import '/src/scss/mixin';

.c-footer {
  @include flexDisplay(space-between, center);
  background-color: $blackColor;
  font-family: $latoFont;
  padding: 2rem 12rem 5rem;
  margin-top: 10rem;

  p {
    margin: 0;
  }

  .c-auction-part {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .c-title {
      @include footerTitle();
    }

    a {
      text-decoration: none;
      color: $whiteColor;
      font-weight: $fontBold;
      font-size: $textBase;
      line-height: $lineHeightBase;
      color: $smokeWhiteColor;
    }
  }

  .c-contact-part {
    .c-title {
      @include footerTitle();
    }

    p {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: $smokeWhiteColor;
    }

    .c-footer-icons {
      svg {
        padding-top: 1rem;
        padding-right: 1rem;
      }
    }
  }
}
