@import '/src/scss/mixin';
@import '/src/scss/variables';

.c-add-item-wrapper {
  @include flexDisplay(space-between, flex-start);
  flex-direction: column;
  padding: 1rem 12rem 0;
  font-family: $latoFont;
}
