@import '/src/scss/variables';
@import '/src/scss/mixin';

.c-categories-wrapper {
  border: 2px solid $smokeWhiteColor;
  min-width: 260px;
  padding: 0.5rem 3.5rem 0.5rem 1rem;

  .c-categories-title {
    color: $purpleColor;
  }

  .c-category {
    @include flexDisplay(space-between, center);

    span {
      font-size: 19px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .c-subcategories {
    @include flexDisplay(flex-start, center);
    gap: 1rem;
    color: $greyColor;
  }
}

@media only screen and (max-width: 1850px) {
  .c-categories-wrapper {
    min-width: 200px;
  }
}
