@import '/src/scss/variables';
@import '/src/scss//mixin';

.c-text-input {
  @include flexDisplay(flex-start, flex-start);
  flex-direction: column;
  font-family: $latoFont;
  width: 100%;
  margin-bottom: 0.5rem;

  .c-header-text {
    color: $darkBlackColor;
    font-size: 18px;
  }

  input {
    width: 86%;
    padding: 18px 42px 18px 24px;
    gap: 10px;
    background: $lightGreyColor;
    border: 1px solid $borderGreyColor;
    border-radius: 20px;
    outline: none;
    color: $blackColor;
    font-family: $latoFont;
    font-weight: $fontNormal;
    font-size: 18px;
    line-height: 27px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::placeholder {
      color: $greyColor;
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    &:disabled {
      background-color: $smokeWhiteColor;
    }
  }

  .c-input-error {
    border: 2px solid $errorColor;
  }

  p {
    color: $errorColor;
    margin-top: 0;
    padding-top: 1rem;
  }
}
