.c-page-wrapper {
  display: flex;
  justify-content: space-between;
}

.c-about-us {
  padding: 0 12rem;
  font-family: var(--font-family);
  font-weight: 400;
}

h1 {
  line-height: 51px;
  letter-spacing: 0.84px;
  color: var(--dark-black-color);
}

.c-content {
  width: 45rem;
}

p {
  padding-bottom: 1rem;
}

.c-main-image {
  background-image: url('assets/images/about-us-image-1.png');
  width: 548px;
  height: 381px;
}

.c-other-images {
  display: flex;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.c-image-2,
.c-image-3 {
  width: 262px;
  height: 199px;
}

.c-image-2 {
  background-image: url('assets/images/about-us-image-2.png');
}
.c-image-3 {
  background-image: url('assets/images/about-us-image-3.png');
}
