@import '/src/scss/variables';
@import '/src/scss/mixin';

.c-about-us {
  padding: 0 12rem;
  font-family: $fontFamily;
  font-weight: $mediumFontWeight;
  height: 800px;

  h1 {
    line-height: $headingLineHeight;
    letter-spacing: $letterSpacing;
    color: $darkBlackColor;
  }

  .c-page-wrapper {
    @include flexDisplay('center', space-between);
    flex-direction: row;
    gap: 2rem;

    .c-content {
      width: 45rem;

      p {
        padding-bottom: 1rem;
        font-weight: $mediumFontWeight;
        font-size: $fontSize;
        line-height: $paragraphLineHeight;
        color: $greyColor;
      }
    }

    .c-images {
      @include flexDisplay(flex-start, center);
      flex-direction: column;
      
      .c-main-image {
        background-image: url('~/src/assets/images/about-us-image-1.png');
        width: 548px;
        height: 381px;
        background-size: cover;
      }

      .c-other-images {
        display: flex;
        margin-top: 1.5rem;
        gap: 1.5rem;

        .c-image-2,
        .c-image-3 {
          width: 262px;
          height: 199px;
        }

        .c-image-2 {
          background-image: url('~/src/assets/images/about-us-image-2.png');
        }

        .c-image-3 {
          background-image: url('~/src/assets/images/about-us-image-3.png');
        }
      }
    }
  }
}
