@import '/src/scss/mixin';
@import '/src/scss/variables';

.c-dropdown-wrapper {
  @include flexDisplay(center, center);
  flex-direction: column;

  .c-dropdown {
    @include flexDisplay(center, center);
    flex-direction: column;
    padding: 12px 24px;
    width: 240px;
    height: 45px;
    background: #ffffff;
    border: 2px solid #d8d8d8;
    font-family: $latoFont;
  }

  .c-error-border {
    border: 2px solid $errorColor;
  }

  .c-error-message {
    font-family: $latoFont;
    color: $errorColor;
  }
}
