@import '/src/scss/mixin';
@import '/src/scss/variables';

.c-new-arrivals {
  font-family: $fontFamily;
  padding-top: 3rem;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  gap: 50px 24px;

  .c-item {
    width: 100%;
    img {
      width: 100%; //it has to be in percentage
      height: 362px;
    }

    p {
      font-weight: 500;
      font-size: $fontSize;
      line-height: 19px;
      letter-spacing: $letterSpacing;
      color: $greyColor;

      span {
        color: $purpleColor;
      }
    }
  }
}
