@import '/src/scss/mixin';
@import '/src/scss/variables';

.c-new-arrivals {
  font-family: $fontFamily;
  padding-top: 3rem;
  display: flex;
  width: 100%;
  gap: 50px 23px;
  flex-wrap: wrap;

  .c-item {
    a {
      text-decoration: none;
    }

    img {
      object-fit: cover;
      min-width: 362px;
      max-width: 362px;
      min-height: 362px;
      max-height: 362px;
    }

    h3 {
      color: $blackColor;
    }

    p {
      font-weight: 500;
      font-size: $fontSize;
      line-height: 19px;
      letter-spacing: $letterSpacing;
      color: $greyColor;

      span {
        color: $purpleColor;
      }
    }
  }
}
