@import '/src/scss/variables';
@import '/src/scss/mixin';

.c-images {
  width: 50%;

  .c-main-image {
    @include flexDisplay(center, center);
    padding: 2rem 1rem;

    img {
      object-fit: contain;
      width: 450px;
      height: 620px;
    }
  }

  .c-other-images {
    margin-top: 2rem;
    @include flexDisplay(center, center);
    flex-wrap: wrap;
    gap: 2rem;

    img {
      width: 70px;
      height: 100px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
